.DS_Store

imgui.ini
bin/

/build/
cmake-build-*/
out/

CMakeSettings.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.user
.vscode/
/.vs
.idea/

external/**build/
external/**cmake-build-*/

settings/
saves/
